/*img {
  height: 200px;
  width: 300px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: -1;
}

#container {
  align-content: center;
  margin-top: 5%;
  border: 5px solid #F4F7F8;
  width: 50%;
  height: 300px;
  display: flex;
  overflow: scroll;
  box-sizing: border-box;
  margin-bottom: 5%;

}
.box {
  height: 60px;
  margin: 5px;
  padding: 5px;
  margin-top: 100px;
  border: 2px solid black;
  background-color: gray;
  font-family: monospace;
}*/

/*.relative {
  position: relative;
  top: 30px;
  right: 20px;
}

.sticky {
  position: sticky;
  top: 20px;
}

.fixed {
  position: fixed;
  left: 280px;
}

.absolute {
  position: absolute;
  right: 0;
  bottom: 0;
}

.text {
  max-width: 120px;
  padding: 0 0.5em 0 120px;
}*/

/*display*/
/*.divBlock {
  margin-bottom: 20px;
  border-style: solid;
}

.block {
  display: block;
}

.divInline{
  margin-bottom: 20px;
  border-style: solid;
}
.inline-block{
  display: inline-block;
}

.flexbox {
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}*/

/*.max-width {
  background-color: yellow;
  max-width: 200px;
}

.max-height {
  background-color: yellow;
  max-height: 100px;
  overflow: hidden;
}*/

/*.min-height {
  background-color: yellow;
  min-height: 500px;*/
}
